<div class="row col-sm-12">
<p id="notice"><%= notice %></p>

<p>
  <strong>Decrypting text:</strong>
  <%= @crypt.decrypt %>
  <%= Caesar.new(@crypt.shift).decrypt(@crypt.encrypt) %>

</p>

<p>
  <strong>Encrypting text:</strong>
  <%= @crypt.encrypt %>
  <%= Caesar.new(@crypt.shift).encrypt(@crypt.decrypt) %>

</p>

<p>
  <strong>Shift:</strong>
  <%= @crypt.shift %>
</p>


<p>
  <br>
  <strong>Chars repeat chart:</strong>
  <%= column_chart @char_count %>

</p>



<%= link_to 'Edit', edit_crypt_path(@crypt) %> |
<%= link_to 'Back', crypts_path %>
</div>